<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="cssFragment">

    <head>
    <meta charset="utf-8">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge; chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=0.7, minimum-scale=0.5, user-scalable=yes">

    <title>DH's project</title>

    <!-- plugins -->
    <link rel="stylesheet" type="text/css" href="/plugins/bootstrap-5.3.2/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

    <link rel="stylesheet" type="text/css" href="/css/auth.css">
    </head>

</th:block>

</html>